<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListShoeServlet</servlet-name>
        <servlet-class>controller.ListShoeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShoeSaleOff</servlet-name>
        <servlet-class>controller.ListShoeSaleOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllInBlackServlet</servlet-name>
        <servlet-class>controller.AllInBlackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanLoaiGiayServlet</servlet-name>
        <servlet-class>controller.PhanLoaiGiayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListShoeServlet</servlet-name>
        <url-pattern>/listshoe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShoeSaleOff</servlet-name>
        <url-pattern>/saleoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllInBlackServlet</servlet-name>
        <url-pattern>/allinblack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanLoaiGiayServlet</servlet-name>
        <url-pattern>/phanloaigiay</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
