<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListShoeServlet</servlet-name>
        <servlet-class>controller.ListShoeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllInBlackServlet</servlet-name>
        <servlet-class>controller.AllInBlackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanLoaiGiayServlet</servlet-name>
        <servlet-class>controller.PhanLoaiGiayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoLuongServlet</servlet-name>
        <servlet-class>controller.SoLuongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>controller.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCartServlet</servlet-name>
        <servlet-class>controller.ProcessCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLoaiGiay</servlet-name>
        <servlet-class>controller.ListLoaiGiay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saleshoe</servlet-name>
        <servlet-class>controller.ListSaleShoe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArrivalsServlet</servlet-name>
        <servlet-class>controller.NewArrivalsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyServlet</servlet-name>
        <servlet-class>controller.DangKyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserInformationServlet</servlet-name>
        <servlet-class>controller.GetUserInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>controller.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangePasswordServlet</servlet-name>
        <servlet-class>controller.UserChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoanTatThanhToanServlet</servlet-name>
        <servlet-class>controller.HoanTatThanhToanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCartServlet</servlet-name>
        <servlet-class>controller.UserCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListShoeServlet</servlet-name>
        <url-pattern>/listshoe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllInBlackServlet</servlet-name>
        <url-pattern>/allinblack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanLoaiGiayServlet</servlet-name>
        <url-pattern>/phanloaigiay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoLuongServlet</servlet-name>
        <url-pattern>/soluong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/deletecookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCartServlet</servlet-name>
        <url-pattern>/processcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLoaiGiay</servlet-name>
        <url-pattern>/listloaigiay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saleshoe</servlet-name>
        <url-pattern>/listshoesale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArrivalsServlet</servlet-name>
        <url-pattern>/newarrival</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyServlet</servlet-name>
        <url-pattern>/dangky</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserInformationServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/updateinformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangePasswordServlet</servlet-name>
        <url-pattern>/userchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoanTatThanhToanServlet</servlet-name>
        <url-pattern>/hoantatthanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCartServlet</servlet-name>
        <url-pattern>/usercart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
